@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    /* height: 200vh; */
}

::-webkit-scrollbar {
    width: 1em;
    display: none;
}

::-webkit-scrollbar-track {
    background: #475569;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border: 1px solid #101010;
    border-radius: 20px;
}

.animation-area {
    width: 100%;
    height: 0vh;
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --main-color: #3978D2;
}


/* ----------------------------------------- nav bar -------------------------------------------- */

.header {
    position: relative;
}

.navbar {
    position: fixed;
    border-bottom: 1px solid #E2E8F0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #fff;
    z-index: 200;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transiotion: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    /* background: #482ff7; */
    background: var(--main-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

ul li:hover::after {
    width: 100%;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--main-color);
}

@media only screen and (max-width: 760px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* ----------------------------------------- nav bar -------------------------------------------- */


/* ----------------------------------------- title sentence -------------------------------------------- */

.headBody {
    min-height: 100vh;
    background-color: var(--main-color);
    /* position: relative; */
    z-index: -100;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.head-title {
    width: 100%;
    height: 190px;
    margin: 10px;
    padding: 5px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-writer {
    /* margin: 1em 5em 5em 6em; */
    color: #fff;
    /* font-family: monospace; */
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

@media only screen and (max-width: 760px) {
    .type-writer {
        font-size: 100%;
    }
}

.anim-typewriter {
    animation: typewriter 4s steps(38) 1s 1 normal both, blinkTextCursor 500ms steps(60) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 10.8em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}


/* ----------------------------------------- title sentence -------------------------------------------- */


/* ----------------------------------------- card  -------------------------------------------- */

.card1-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
}

.card1 {
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    background: var(--main-color);
    border-radius: 20px;
    justify-content: space-between;
}

.img1 {
    background: #fff;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    width: 35em;
    height: 30em;
    transform: translateX(-100px);
    padding: 1.5em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img2 {
    background: #fff;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    width: 35em;
    height: 30em;
    transform: translateX(100px);
    padding: 1.5em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 70%;
    height: 70%;
}

.text1 {
    margin-right: 3em;
    margin-left: 0;
    /* padding: 10em 0em; */
    height: 25em;
    width: 45em;
    overflow: hidden;
    /* border: 2px solid #fff; */
}

.text2 {
    margin-right: 0;
    margin-left: 3em;
    /* padding: 2em; */
    height: 25em;
    width: 45em;
    /* border: 2px solid #fff; */
}

.text3 {
    margin-right: 3em;
    margin-left: 0em;
    /* padding: 2em; */
    height: 25em;
    width: 45em;
    /* border: 2px solid #fff; */
}

.card-text {
    font-size: 4em;
    color: #fff;
    font-weight: 500;
}

.card-p {
    margin-top: 1em;
    font-size: 1.7em;
    color: #fff;
    font-weight: 200;
}

.btn1,
.btn2 {
    margin: 1.3em;
    margin-left: 0;
    padding: 0.9em 2em;
    border: 0;
    border-radius: 0.25em;
}

.btn1 {
    background: #fff;
    color: #475569;
    transition: 0.35s;
}

.btn2 {
    background: #475569;
    color: #fff;
    transition: 0.35s;
}

.btn1:hover {
    background: #E2E8F0;
    color: var(--main-color);
    cursor: pointer;
}

.btn2:hover {
    background: #2e3745;
    color: var(--main-color);
    cursor: pointer;
}

@media only screen and (max-width: 760px) {
    .card1-container {
        margin-bottom: 0;
    }
    .card1 {
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        /* align-content: center; */
    }
    .img1 {
        width: 25em;
        height: 20em;
        transform: translateY(280px);
        padding: 1.5em;
        margin: 0;
    }
    .img2 {
        width: 25em;
        height: 20em;
        transform: translateY(60px);
        padding: 1.5em;
        margin: 0;
    }
    .text1 {
        margin-top: 6em;
        margin-right: 0;
        margin-left: 3em;
        transform: translateY(-300px);
    }
    .text3 {
        margin-top: 8em;
        margin-right: 0;
        margin-left: 5em;
        transform: translateY(-300px);
    }
    .text2 {
        margin-top: 8em;
        margin-left: 2em;
        margin-right: 2em;
    }
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, var(--main-color) 50%, rgb(245, 248, 250) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

.footer {
    height: 20em;
    width: 100%;
    background: var(--main-color);
}

.footer-content {
    height: 20em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid #fff; */
}

.footer-title {
    width: 10em;
    font-size: 5em;
    color: #fff;
    border-right: 1px solid #fff;
    text-align: center;
}

.footer-others {
    width: 40em;
    /* border: 1px solid #fff; */
    color: #2e3745;
    font-size: 1.22em;
}


/* .footer-content {} */


/* @media only screen and (min-width: 760) and(max-width: 1060px) {
    img1 {
        width: 18em;
        height: 5em;
    }
    img2 {
        width: 18em;
        height: 5em;
    }
} */


/* ----------------------------------------- card  -------------------------------------------- */